body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 600px;
  padding: 20px;
  background-color: #e0e0e0;
  /* Light gray background color */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.result-container {
  text-align: center;
  margin-bottom: 20px;
}

p {
  font-size: 24px;
  color: #007bff;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  /* Blue button color */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  /* Remove underline */
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
  /* Darker blue on hover */
}

h1 {
  text-align: center;
  color: #333;
}

#imageInput {
  display: block;
  margin: 20px auto;
}

.image-preview {
  text-align: center;
  margin-bottom: 20px;
}

.image-preview img {
  max-width: 100%;
  max-height: 300px;
  display: block;
  margin: 0 auto;
}



h1 {
  text-align: center;
  color: #333;
}

.result-container {
  text-align: center;
  margin-bottom: 20px;
}

p {
  font-size: 24px;
  color: #007bff;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}